// // @use '../components/mixins'as *;
// // @use '../custom'as *;
// .companies {
//     padding: 0 0 5rem 0;
//     &__logo-box {
//         max-width: 100%;
//         height: 3rem;
//         margin-top: 2rem;
//         padding: 0.5em;
//         text-align: center;
//         position: relative;
//         img {
//             height: 100%;
//             width: 100%;
//             &:hover {
//                 filter: grayscale(120);
//             }
//         }
//     }
// }