// @use '../custom'as *;
// @use '../components/mixins'as *;
// .menu {
//     @include gradient;
//     li {
//         padding: 0.7em;
//         a {
//             color: $white !important;
//             text-transform: capitalize;
//             font-weight: 600;
//         }
//     }
// }