// @use '../custom'as *;
// .display-2 {
//     margin-bottom: 1rem;
//     text-transform: capitalize;
//     font-family: 'Poppins', sans-serif;
//     &--intro {
//         display: inline-block;
//         font-weight: 700;
//         font-family: 'Poppins', sans-serif;
//     }
//     &--description {
//         font-size: 1rem;
//         display: block;
//         margin-top: 1.2rem;
//         text-transform: none;
//         @include media-breakpoint-up(lg) {
//             font-size: 1.4rem;
//             display: inline-block;
//         }
//     }
// }
// //heading line
// .heading-line::before {
//     content: "";
//     width: 10rem;
//     height: 0.2rem;
//     display: block;
//     margin: 0 auto;
//     background-color: $primary;
// }
// .heading-line::after {
//     content: "";
//     width: 2rem;
//     height: 0.2rem;
//     padding-top: 0.5rem;
//     display: block;
//     margin: 0 auto;
//     margin-bottom: 1rem;
//     background-color: $primary;
// }
// .display-3 {
//     font-family: 'Poppins', sans-serif;
//     &--title {
//         font-size: 1.2rem;
//         text-transform: capitalize;
//         font-weight: 600;
//         font-family: 'Poppins', sans-serif;
//         display: inline-block;
//         background-image: linear-gradient(to right, $primary, $secondary);
//         background-clip: text;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         @include media-breakpoint-up(lg) {
//             margin-top: 1.8rem;
//         }
//     }
// }
// .border-right {
//     border-right: 0.1rem solid $gray-300;
//     height: 100%;
// }